<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <div class="landing-pages">
    <a href="https://robertdrsj.github.io/docs/servicesforhire" rel="author"><i class="fa-solid fa-laptop-code"></i> Services & Rates</a>
    <br />
  </div>
  <ul class="link">
    <li><a href="https://www.linkedin.com/in/robertdrsj" rel="external"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://github.com/robertdrsj" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://robertdrsj.itch.io" rel="external"><i class="fab fa-itch-io"></i> Itch.io</a></li>
  </ul>
  <hr />
  <header>
    <h3>
      High Impact Projects
    </h3>
  </header>
  <div class="high-impact-projects">
    <a href="https://robertdrsj.github.io/docs/tools/2025_tools_awsbackend" rel="author">AWS Authentication & App Licensing (<i>2025, Meta Quest 3 & Android</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2025_xr_bootsdemopassthroughmr" rel="author">XR Passthrough Update (<i>2025, Meta Quest 3</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/tools/2025_tools_multiclienttcpserver" rel="author">Local TCP/IP Multiclient Server (<i>2025, Android</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2023_tools_colorpaletteui" rel="author">Brand Configuraton & Colorblind Verification Tool (<i>2023, Unity Editor</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2023_tools_carmui" rel="author">C-Arm Configuration Tool (<i>2022, Unity Editor</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2021_xr_firstrespondervr" rel="author">First Responder Simulation SBIR Phase II (<i>2021, HTC Vive VR</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/appdev/2020_app_enginetouchtable" rel="author">Interactive 3D Engine as Touchtable (<i>2020, Universal Windows</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2020_xr_endoscopybaylor" rel="author">Endoscopy Simulation (<i>2020, Meta/Oculus Quest</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2019_xr_phasedarraymr" rel="author">Phased Array Modding (<i>2019, HoloLens</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2019_xr_tablegraphmr" rel="author">3D Tabletop Graph (<i>2019, HoloLens</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/xrdev/2019_xr_enginedemomr" rel="author">Interactive 3D Engine as Mixed Reality (<i>2019, HoloLens</i>)</a>
    <br />
    <br />
    <a href="https://robertdrsj.github.io/docs/appdev/2016_app_conception" rel="author">Game Brainstorming App (<i>2016, PC Executable</i>)</a>
  </div>
</div>