<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    <li><a href="https://github.com/robertdrsj" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/robertdrsj" rel="external"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://robertdrsj.itch.io" rel="external"><i class="fab fa-itch-io"></i> Itch.io</a></li>
  </ul>
  <hr />
  <header>
    <h3>
      Impact Projects
    </h3>
  </header>
  <ul class="impact-projects">
    <li><a href="https://robertdrsj.github.io/docs/tools/2025_tools_awsbackend_TODO" rel="author"></i>AWS Authentication & App Licensing (<i>2025, Meta Quest 3 & Android</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2025_xr_bootsdemopassthroughmr_TODO" rel="author"></i>XR Passthrough Update (<i>2025, Meta Quest 3</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/tools/2025_tools_multiclienttcpserver_TODO" rel="author"></i>Local TCP/IP Multiclient Server (<i>2025, Android Mobile</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2023_tools_colorpaletteui_TODO" rel="author"></i>Branding Improvements & Colorblind Verification Tool (<i>2023, Unity Editor</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2023_tools_carmui_TODO" rel="author"></i>C-Arm Usability Improvements (<i>2023, Unity Editor</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2021_xr_firstrespondervr_TODO" rel="author"></i>First Responder SBIR (<i>2021, HTC Vive VR</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2019_xr_phasedarraymr" rel="author"></i>Phased Array Modder (<i>2019, HoloLens</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/xrdev/2019_xr_tablegraphmr" rel="author"></i>3D Tabletop Graph (<i>2019, HoloLens</i>)</a></li>
    <li><a href="https://robertdrsj.github.io/docs/appdev/2016_app_conception" rel="author"></i>Game Brainstorming App (<i>2016, PC Executable</i>)</a></li>
  </ul>
</div>